[flake8]
max-line-length = 120

exclude =
    */migrations/*,
    __pycache__,
    manage.py,
    settings.py
    .git,
    __pycache__,
    .venv,
    venv,
    lib,
    bin

ignore =
    W503,
    E203,
    F401,
    E402,